::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: transparent; 
}
::-webkit-scrollbar-corner {
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  background: #3B4252;
  border-radius: 1rem;
}
::-webkit-scrollbar-thumb:hover {
  background: #434C5E; 
}

html {
  min-width: 100vw;
  min-height: 100vh;
}

body {
  padding: 0%;
  margin: 0%;

  font-family: sans-serif;
  font-family: Rubik;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;

  color: #D8DEE9;
  background-color: #2b103d;
  scroll-behavior: smooth;
}

#menubar {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */

  top: 0px;
  width: 100%;
  height: auto;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: flex-end;
  
  background-color: #200C2E;
}

.project {
  width: auto;
  height: auto;
  text-align: center;
  text-decoration: none;
  padding: 4px 10px;
  color: #D8DEE9;

  background-color: transparent; 
  border-bottom: solid #4c1888;
}
  
.project:hover {
  background-color: #2d1141;
  border-bottom: solid #5b2697;
}

.title {
  font-size: 20px;
  color: transparent;
  margin: 0 auto 0 1rem;

  background: -webkit-linear-gradient(to right, #861cff, #e90000);
  background: -moz-linear-gradient(to right, #861cff, #e90000);
  background: linear-gradient(to right, #861cff, #e90000);

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}